.neptune-style-element-element {
	overflow: hidden;
	margin-bottom: 25px;
}
.neptune-style-element-element__label {
	float: left;
	margin-right: 30px;
}
.neptune-style-element-element__label input {
	width: 100%;
}
.neptune-style-element-element__selector {
	float: left;
}
.neptune-style-element-element__title {
	font-weight: bold;
	margin-bottom: 3px;
	display: block;
}
.neptune-style-element-element .description {
	display: block;
}
.neptune-style-element-element__delete {
	text-decoration: none;
	color: #fff;
	background: #c00;
	border-radius: 50%;
	display: inline-block;
	float: left;
	margin: 25px 0 0 30px;
}
.neptune-style-element-element__delete:hover {
	color: #fff;
}
.neptune-style-element-element:first-child .neptune-style-element-element__delete {
	display: none;
}
